@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css';
@import 'https://fonts.googleapis.com/css?family=Metrophobic|Share+Tech+Mono';
@import './Lib/Prism.css';

*, *:before, *:after {
  -webkit-box-sizing  : border-box; 
  -moz-box-sizing     : border-box; 
  box-sizing          : border-box;
}

body {
  --bg-color          : #fcfcfc;
  --bg-secondary-color: #e5e5e5;
  --fonts-color       : #555555;
  --editor-color      : #4a4a4a;
  --key-color         : #cc2a36;
  
  background          : var(--bg-color);
  height              : 100%;
  width               : 100%;
  color               : var(--fonts-color);
  font-size           : 1rem;
  font-family         : 'Metrophobic', sans-serif;
  transition          : background 300ms, color 300ms;
}

*::-moz-selection {
  background          : var(--key-color);
  color               : var(--bg-secondary-color);
}
*::selection {
  background          : var(--key-color);
  color               : var(--bg-secondary-color);
}